<h1>Add new course</h1>

  <form action="/courses/new" method="post">
    <label for="course-name">course-name</label>
    <input id="course-name" name="course-name" type="text">
    <label for="course-courseNumber">course-number</label>
    <input id="course-courseNumber" name="course-courseNumber" type="text">

    <button type="submit">Add new course</button>

  </form>
